{% extends 'blog/base.html' %}
{% load mymedia %}
{% block content %}
    <div class="col-12">
            <a href="{% url 'blog:list' %}" class="btn btn-primary">К блогам</a>
    </div>
    <div class="container d-flex justify-content-center">
        <div class = "text-center">
            <div class="card mb-4 box-shadow" style="max-width: 36rem;">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{ object.heading }}</h2>
                </div>
                <div class="card-body">
                    <img src="{% mymedia object.image %}" alt="object.name" width="340" height="240">
                    <h3>{{ object.content }}</h3>
                    <p>{{ object.slug }}</p>
                    <h4>Просмотров {{ object.views_count }}</h4>
                    <p>Дата создания {{ object.created_at }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}