{% extends 'blog/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-12">
            <a href="{% url 'blog:create' %}" class="btn btn-lg btn-primary">Добавить материал</a>
        </div>
        <div class="row text-center">
            {% for object in object_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow my-3" style="height: 250px;">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.heading }}</h4>
                    </div>
                    <div class="card-body">
                        <p> {{ object.content }} </p>
                        <div class="btn-group">
                            <a href="{% url 'blog:view' object.pk %}" class="btn btn-primary mr-1">Просмотр</a>
                            <a href="{% url 'blog:edit' object.pk %}" class="btn btn-secondary mr-1">Изменение</a>
                            <a href="{% url 'blog:delete' object.pk %}" class="btn btn-warning mr-1">Удаление</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}